Repository projectmesa/mesa, pull requests merged in 2024-05, with the labels that each got.

#2129 datacollector: store separate snapshots of model data per step
  mesa/datacollection.py
Labels: bug

#2146 Fix image on landing page of docs.
  docs/index.md
Labels: docs

#2148 Replace links in docs - google group to matrix.
  docs/index.md
  docs/packages.md
Labels: docs, easy task!!!
