Repository projectmesa/mesa, pull requests merged in 2025-03, with the labels that each got.

#2697 Feat: Added Command Console
  docs/apis/visualization.md
  mesa/visualization/__init__.py
  mesa/visualization/command_console.py
  mesa/visualization/solara_viz.py
Labels: feature, visualisation

#2706 [JOSS] Docs: Clarify difference between core and user examples
  mesa/examples/README.md
Labels: docs

#2707 [JOSS] docs: Improve batch_run documentation for parallel processing
  docs/overview.md
  mesa/batchrunner.py
Labels: docs

#2708 JOSS Tutorial Fixes
  .gitignore
  docs/conf.py
  docs/tutorials/MoneyModel.py
  docs/tutorials/intro_tutorial.ipynb
  docs/tutorials/visualization_tutorial.ipynb
  pyproject.toml
Labels: docs

#2696 Update boid_flockers example include flight direction
  mesa/examples/basic/boid_flockers/agents.py
  mesa/examples/basic/boid_flockers/app.py
  mesa/examples/basic/boid_flockers/model.py
Labels: example, visualisation

#2717 Clean-up old images, compress wolf-sheep image, remove version switch artifact
  docs/_static/switcher.json
  docs/images/tutorial/br_ginis.png
  docs/images/tutorial/dc_endwealth.png
  docs/images/tutorial/dc_gini.png
  docs/images/tutorial/dc_oneagent.png
  docs/images/tutorial/first_hist.png
  docs/images/tutorial/multirun_hist.png
  docs/images/tutorial/numpy_grid.png
  docs/images/tutorial/viz_chart.png
  docs/images/tutorial/viz_empty.png
  docs/images/tutorial/viz_greycircles.png
  docs/images/tutorial/viz_histogram.png
  docs/images/tutorial/viz_redcircles.png
  docs/images/wolf_sheep.png
  docs/tutorials/files/viz_chart.png
  docs/tutorials/files/viz_empty.png
  docs/tutorials/files/viz_greycircles.png
  docs/tutorials/files/viz_histogram.png
  docs/tutorials/files/viz_redcircles.png
  docs/tutorials/files/viz_slider.png
Labels: docs, backport-candidate

#2440 Stabilize PropertyLayer
  mesa/space.py
Labels: feature

#2643 added property_layer with altair
  mesa/visualization/components/altair_components.py
  tests/test_solara_viz.py
Labels: visualisation

#2740 docs: Update citation to JOSS article
  CITATION.bib
  CITATION.cff
  README.md
  docs/index.md
Labels: docs
