Repository projectmesa/mesa, pull requests merged in 2025-02, with the labels that each got.

#2624 Updated Docs
  docs/apis/visualization.md
Labels: docs

#2655 Update Binder environment to use latest Mesa version (#2652)
  binder/environment.yml
Labels: bug, dependencies

#2653 Added property layer viz to sugarscape
  mesa/examples/advanced/sugarscape_g1mt/app.py
Labels: example

#2605 Enhance DataCollector to validate model_reporters functions
  mesa/datacollection.py
  tests/test_datacollector.py
Labels: enhancement

#2664 Fixed 404 error for Examples Tab in Introductory Tutorial (#2662)
  docs/index.md
  docs/tutorials/intro_tutorial.ipynb
Labels: docs

#2672 docs: Clarify recommended dependencies in installation guide
  docs/index.md
Labels: docs, ignore-for-release

#2673 docs: Split off the overview page, extend with spaces/activation
  docs/getting_started.md
  docs/index.md
  docs/overview.md
Labels: docs

#2687 Minor (bug) fixes to discrete_space
  mesa/__init__.py
  mesa/discrete_space/cell.py
  mesa/discrete_space/cell_collection.py
  mesa/discrete_space/discrete_space.py
  mesa/examples/basic/boltzmann_wealth_model/app.py
Labels: bug, trigger-benchmarks

#2681 Move Game of life to cell space
  mesa/examples/basic/conways_game_of_life/agents.py
  mesa/examples/basic/conways_game_of_life/model.py
Labels: example

#2678 update joss paper to address some requested edits
  paper/paper.md
Labels: docs

#2684 Move Schelling to discrete space
  mesa/examples/basic/schelling/agents.py
  mesa/examples/basic/schelling/model.py
Labels: example

#2688 Move virus_on_a_network to discrete_space
  mesa/examples/basic/virus_on_network/agents.py
  mesa/examples/basic/virus_on_network/model.py
Labels: example, trigger-benchmarks

#2670 Fixed Marker in mpl
  mesa/examples/basic/boid_flockers/app.py
  mesa/visualization/mpl_space_drawing.py
Labels: bug, visualisation

#2689 added dark mode
  mesa/visualization/solara_viz.py
Labels: enhancement, visualisation

#2692 fix multiple citations in joss paper
  paper/paper.md
Labels: docs

#2656 Creating threads to update visualization asynchronously
  mesa/visualization/solara_viz.py
Labels: visualisation
